/* Hero */


/* Section */



/* Feature/Functions/Our team */








/* .functions .item {
    margin-bottom: -4px;
} */

/* .functions .item+.item {
    margin-left: 30px;
} */














/* PORTFOLIO PAGE */
.section .works {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Buttons filtr */

.filtr-btn__button {
    background-color: var(--accent-bg-color);

    padding: 6px 22px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    list-style-type: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
}

.filtr-btn {
    text-align: center;
    margin-bottom: 50px;
}

.filtr-btn__item {
    display: inline-block;
    border-radius: 4px;
}

.filtr-btn .filtr-btn__item+.filtr-btn__item {
    margin-left: 8px;
}

.filtr-btn__button:hover,
.filtr-btn__button:focus {
    background-color: var(--accent-color);
    color: var(--hero-text-color);
    box-shadow:
        0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Projects */

.project-content__title {
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.project-card__desk {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondaty-text-color);
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
}

.project-card-pic {
    flex-basis: calc((100% - 60px) / 3);
    display: block;
}

.project__item:hover,
.project__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card {
    position: relative;
    overflow: hidden;
}

.project-card__text {
    transition-property: transform, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
    transform: translateY(100%);

    padding: 63px 24px;
    top: 0;
    left: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--hero-text-color);

    background: rgba(33, 150, 243, 0.9);

}

.project__link {
    text-decoration: none;
}

.project__link:hover .project-card__text,
.project__link:focus .project-card__text {
    transform: translateY(0);
    opacity: 1;
}

.project-content {
    padding-top: 20px;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding: 20px 24px;
}


/* BACKDROP */


/* 0000 .filtr .btn-list */
/* текст */
/* #212121 - цвет основного текста */
/* #757575 - вторичный цвет */
/* #FFFFFF - белый цвет теkста */
/* #2196F3 - акцент (голубой) */
/* rgba(255, 255, 255, 0.6) - цвет контактов в футере*/
/* фон */
/* #FFFFFF - основной цвет фона */
/* #2F303A - вторичный цвет фона */
/* #F5F4FA - третий цвет фона */

/* a[href="tel:+38-099-111-11-11"] {
    color: green
}

a[href="mailto:info@example.com"] {
    color: red;
} */

/* .footer-address__item {
    background-color: tomato;
} */

/* .container.footer-box a {
    background-color: red;
} */

/* .team-socials__link:hover .team-icon {
    background-color: red;
} */

/* .team-socials__item:nth-child(2) {
    background-color: red;
} */

/* .project__item:nth-child(2n) .project-card__desk {
    background-color: red;
} */

/* .project__item:nth-child(2n+1) .project__link:hover .project-card__text {
    transform: translateY(0);
    opacity: 1;
} */
/* label:last-of-type {
    background-color: red;
} */



/* 1. Именно вот єта ссілка зеленіе; */
/* .footer-address__item>.footer-address__map {
    color: green;
} */

/* 2. Все дети голубіе; */
/* .item {
    background-color: blue;
} */

/* 3. все ссілки в контейнере зеленіе; */

/* 4. иконка поменяла фон; */
/* 5. второй в списке поменял фон; */
/* 6. каждій второй заголовок карті поенял фон 7. */